footer {
    background-color: navy;
    color: #ffffff;
    height: 2.5em;
    text-align: center;
}

h1{
    text-align: center;
}

.container {
    width: 75%;
    margin: auto;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    text-align: center;
   font-size: 30px;
}

li{
    border: 1px solid black;
    padding-right: 0px;
    padding-left: 28px;
    border-radius: 5px;
    background-color: rgb(217, 255, 0);
    margin-bottom: 10px;
}
